<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="style.css">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="https://i.icomoon.io/public/temp/c476d48ccc/UntitledProject/style.css">
</head>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<body ng-app="F1FeederApp" ng-controller="driversController">


  <div id="header">
    <div class="row">
      <div class="container">
        <div class="col-md-4">
          <h1>Drivers Championship Standings</h1>
        </div>
      </div>
    </div>
  </div>

  <div id="content">

    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <span class="icon-search"></span><input class="form-control" type="text" ng-model="nameFilter" placeholder="Search..."/>
          <div class="table-responsive">
            <table>
              <tbody>
                <tr>
                  <th>position</th>
                  <th>driver</th>
                  <th>car</th>
                  <th>points</th>
                </tr>
                <tr ng-repeat="driver in driversList | filter: searchFilter">
                  <td>{{$index + 1}}</td>
                  <td>
                    <img src="img/flags/{{driver.Driver.nationality}}.png" />
                    {{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                  </td>
                  <td>{{driver.Constructors[0].name}}</td>
                  <td>{{driver.points}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>