@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

table {
	width: 100%;

	h2 {
		padding: 0 0 10px 0;
		margin-bottom: 0; 
	}

	td {
		padding: 0 0 10px 0;
	}

	th {
		padding: 0 0 15px 0;
		text-transform: uppercase;
	}
}

.table-responsive {
	border: none!important;
}

a {	

	&:hover, &:active {
	opacity: 0.7;
	text-decoration: none!important;
	outline: 0;
	}
}

#header {
	background: #f1f1f1;

	h1 {
		margin-bottom: 20px;
	}
}

#content {
	padding: 50px 0 50px 0; 
}

#secondary {
	margin: 30px 0 0 0;
	display: inline-flex;
}

.driver-status {
	margin-left: 20px;
}

img.flag {
	width: 65px;
	height: 65px;
}

.result-table, .table-responsive {
	img {
		margin-right: 10px;
	}
}

span.icon-search {
	margin-right:10px;
	font-size: 30px;
}

.main-content {
	margin-top: 50px;
}

span.driver-name {
	font-size: 30px;
	display: block;
	margin-top: 20px;
	background: #f1f1f1;
	padding-left: 10px;
	font-weight: 300;
}


//bootstrap overides 

#bootstrap-overrides{

	.form-control {
		margin: 0 0 20px 0; 
		max-width: 690px;
		width: 100%;
	}

}
